 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
           <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
         <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"> 
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />  
    <title>Page des Utilisateurs</title>
  
  </head>
  
  <body class="loggedin">
    <nav class="navtop">
      <div>
        <h1>Modification des Utilisateurs</h1>
        <a href="{{ url_for('logout') }}" class="fas fa-sign-out-alt">Logout</a>
      </div>
    </nav>
    <div class="content">
        <h2>Modifier Utilisateur</h2>

{% block body %}
    
      <div class="content">
          
        <form action="/liste_utilisateur/update/{{utilisateur.id}}" method="POST">
          <div class="form-group">
            <p>Nom</p>
           <input type="text" name="username" value="{{utilisateur.username}}" class="form-control">
          </div>
          <div class="form-group">
             <p>Mot de passe</p>
            <input type="text" name="password" value="{{utilisateur.password}}" class="form-control">
          </div>
          <div class="form-group">
             <p>E-mail</p>
             <input type="text" name="email" value="{{utilisateur.email}}" class="form-control">
          </div>
            <button type="submit" class="btn btn-primary btn-block">
              Modifier
            </button>
          </div>
        </form>
      </div>

  </div>
 
{% endblock %}